* {
   
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
.top-navbar{
    background-color: #053454;
    padding: 0px 0;
   color: white;
   margin: 0 -8px;
}
.x-logo{
color: white;
font-size: 80px;
margin-right: 10px;
font-weight: 900;

}
.brand{
    letter-spacing: 3px;
    color: white;
    }
    .orange{
        color: orangered;
    }
.top-navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.main-nav{
    display: flex;
    gap: 30px;
    align-items: end;
    font-weight: 900;
}
.main-nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.5s;
}
.main-nav a:hover{
    color: red;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    
}
.sub-navbar {
    background-color: #ff4d00; /* orange */
    padding: 15px 0;
    margin: 0 -8px;
}
.sub-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.sub-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.3s;
}
.sub-menu a:hover {
    opacity: 0.8;
}

.sub-menu .active {
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}
h6{
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
#img1{
float: right;
padding: 25px 120px 100px 25px;
margin-bottom: 100px;
}
p{
    font-size: 20px;
    font-weight: 100;
   padding-top: 150px ;
   padding-bottom: 20px;
   padding-left: 200px;
}
#image2{
    float: left;
padding: 200px 120px 100px 160px;
margin-bottom: 100px;
}
#img1{
float: right;
padding: 100px 120px 100px 25px;
margin-bottom: 100px;
}







